* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: #6cb49cce;
}

.form {
    width: 600px;
    margin: auto;
}

.form .title {
    text-align: center;
    color: #fff;
}

.form .container {
    max-width: 90%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #3a808fb1;
}

.form .container label {
    color: #fff;
    font-size: 16px;
}

.form .container p {
    color: #fff;
}

.form .container .name,
.form .container .email {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    color: #fff;
}

.form .container .name input,
.form .container .email input {
    height: 35px;
    border-bottom: 2px solid #000;
    font-size: 16px;
    padding-left: 10px;
    color: #fff;
    background-color: transparent;
}

.form .container .birth-date {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.form .container .birth-date input {
    width: 30%;
    border-bottom: 1px solid #c5c3c3;
    padding-bottom: 3px;
    font-size: 16px;
    background-color: transparent;
    color: #d0c9c9;
}

.form .container .genre-select select {
    width: 40%;
    height: 30px;

    margin-top: 5px;
    border: 1.5px solid #000;
    border-radius: 5px;
    font-size: 16px;
    background-color: transparent;
    color: #01010177;
}

.form .container .occupation-area {
    margin-top: 20px;
}

.form .container .occupation-area .area {
    display: flex;
    align-items: center;
    gap: 15px;
}

.form .container .occupation-area .area label {
    color: #000;
}



