* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    background-color: #6cb49cce;
    height: 100vh;
}

.form {
    width: 600px;
    margin: auto;
    background-color: #26268ee3;
}

.form .title {
    text-align: center;
    color: #fff;
}

.form .container {
    max-width: 90%;
    margin: auto;
    border: 1px dashed red;
}

.form .container .name,
.form .container .email {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    color: #fff;
}

.form .container .name input,
.form .container .email input {
    height: 35px;
    border-bottom: 2px solid #008000;
    font-size: 16px;
    padding-left: 10px;
    color: #fff;
    background-color: transparent;
}